* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  padding-bottom: 100px;
}

/* HEADER */
.main-header {
  height: 220px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CATEGORIAS */
.categories {
  display: flex;
  gap: 10px;
  padding: 15px;
  overflow-x: auto;
  background: #fff;
}

.category-btn {
  padding: 10px 22px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background: #eee;
  font-weight: bold;
}

.category-btn.active {
  background: #111;
  color: #fff;
}

/* PRODUTOS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product h3 {
  padding: 10px;
}

.product p {
  padding: 0 10px 10px;
  font-size: 0.9rem;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.product-footer span {
  color: #27ae60;
  font-weight: bold;
}

/* BOTÕES */
.add-btn {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: none;
  background: #2ecc71;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* SACOLA */
.floating-cart {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #111;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  max-width: 400px;
  height: 100%;
  background: #fff;
  transition: 0.4s;
}

.cart.open {
  right: 0;
}

.cart-header {
  background: #111;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.cart-items {
  padding: 15px;
}

.cart-footer {
  padding: 15px;
  border-top: 1px solid #ddd;
}